.earth-seg{
	background: url(http://www.27stars.co.uk/assets/video/stars.jpg) #000 !important;
}

.cesium-credit-imageContainer, .cesium-credit-textContainer{
	display: none;
	opacity: 0;
}

.we-pp-content{
	width: 100% !important;
    word-wrap: break-word !important;
    padding-right: 35px !important;
}