.earth-seg{
	background: url(http://www.27stars.co.uk/assets/video/stars.jpg) #000 !important;
}

.cesium-credit-imageContainer, .cesium-credit-textContainer{
	display: none;
	opacity: 0;
}

.we-pp-wrapper{
	background: gray !important;
    color: white !important;
    -webkit-box-shadow:0 1px 14px #171717 !important;
    -moz-box-shadow:0 1px 14px #171717 !important;
    box-shadow:0 1px 14px #171717 !important;
    border-radius: 5px !important;
}
.we-pp-content, .we-pp-content *{
	width: 100% !important;
    word-wrap: break-word !important;
    padding-right: 35px !important;
	font-family: Courier, Courier New, monospace !important;
}